@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    /* background-image: linear-gradient(to bottom right, aquamarine, aqua, yellow); */
    background-color: aquamarine;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn:focus {
    outline: 0;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 250px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
}

.card img {
    width: 200px;
    margin: 0 auto;
}

.remove {
    position: absolute;
    top: 10px;
    left: 10px;
}

@media(max-width: 1000px) {
    .card {

    }
}